@inherits CustomersComponent
@page "/customers"

<PageTitle>@Title</PageTitle>

<h1>@Title</h1>

<DataGrid TItem="CustomerDto"
          Data="@List"
          @bind-SelectedRow="@SelectedRow"
          ReadData="@OnReadData"
          TotalItems="@Total"
          PageSize="@PageSize"
          PageSizeChanged="PageSizeChanged"
          ShowPager
          ShowPageSizes
          Responsive
          Sortable="false">
    <DataGridCommandColumn />
    <DataGridColumn Field="@nameof(CustomerDto.CustomerId)" Caption="#" />
    <DataGridColumn Field="@nameof(CustomerDto.CompanyName)" Caption="Company Name" />
    <DataGridColumn Field="@nameof(CustomerDto.ContactName)" Caption="Contact name" />
    <DataGridColumn Field="@nameof(CustomerDto.ContactTitle)" Caption="Contact Title" />
    <DataGridColumn Field="@nameof(CustomerDto.Address)" Caption="Address" />
</DataGrid>