@inherits EmployeesComponent
@page "/employees"

<PageTitle>@Title</PageTitle>

<h1>@Title</h1>

<DataGrid TItem="EmployeeDto"
          Data="@List"
          @bind-SelectedRow="@SelectedRow"
          ReadData="@OnReadData"
          TotalItems="@Total"
          PageSize="@PageSize"
          PageSizeChanged="PageSizeChanged"
          ShowPager
          ShowPageSizes
          Responsive
          Sortable="false">
    <DataGridCommandColumn />
    <DataGridColumn Field="@nameof(EmployeeDto.Id)" Caption="#" />
    <DataGridColumn Field="@nameof(EmployeeDto.FirstName)" Caption="First Name" />
    <DataGridColumn Field="@nameof(EmployeeDto.LastName)" Caption="Last name" />
</DataGrid>